*{
    margin: 0;
    padding: 0rem;
    box-sizing: border-box;
}
  

html{
    font-size: 62.5%;
    font-family: 'Poppins', 'Times New Roman', Times, serif ;
    scroll-behavior: smooth;
    background-color: var(--white);   
}


a{
    text-decoration: none;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

nav{
    text-align: center;
    padding: 0px 30%;
    margin-right: 30px;
}
  