.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    background-image: var(--linear-gradient-purple2);
    border-bottom: 0.1rem solid var(--gold);
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--gold);
}

.menu h1 a {
    color: inherit;
}

.main-content{
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 2rem;
    color: var(--white);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--gold);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

